<div class="login_register">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-4 col-md-8 col-12 mx-auto">
            <div class="card z-index-0 fadeIn3 fadeInBottom">
              <div class="card-body">
                <form role="form" class="text-start" action="/auth/register" method="POST">
                  <div class="input-group input-group-outline my-3">                    
                    <input type="text" class="form-control" placeholder="Name" name="name"/>
                  </div>
                  <div class="input-group input-group-outline mb-3">                  
                   <input type="tel" class="form-control" placeholder="Phone Number" name="number"/>
                  </div>
                  <div class="form-check form-switch d-flex align-items-center mb-3">                   
                     <input type="password" class="form-control" placeholder="Password" name="password"/>
                  </div>
                  <div class="form-check form-switch d-flex align-items-center mb-3">                   
                     <input type="text" class="form-control" placeholder="admin role" name="adminType"/>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">Register</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>