<header class="header_section   ">
  <div class="container">
    <nav class="navbar navbar-expand-lg custom_nav-container ">
      <a class="navbar-brand" href="/">
        <span>
          Feane
        </span>
      </a>

      <button class="navbar-toggler  collapsed" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class=""> </span>
      </button>

      <div class="navbar-collapse collapse" id="navbarSupportedContent" style="">
        <ul class="navbar-nav  mx-auto">

          {{#if active}}
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          {{else}}
          <li class="nav-item ">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          {{/if}}


          {{#if menu}}
          <li class="nav-item active">
            <a class="nav-link" href="/menu">Menu</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/menu">Menu</a>
          </li>
          {{/if}}


          {{#if about}}
          <li class="nav-item active">
            <a class="nav-link" href="/about">About</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          {{/if}}


        </ul>
        <div class="user_option">
          <a href="" class="user_link">
            <i class="fa fa-user" aria-hidden="true"></i>
          </a>

          <form class="form-inline">
            <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form>

        </div>
      </div>
    </nav>
  </div>

</header>




<button class="order_online">
  <i class="fa-solid fa-basket-shopping"></i>
  <sub>1</sub>
</button>