body{
    position: relative;
}
.loader{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 2040;
    background: linear-gradient(135deg, #222831 10%, #4b4c52 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loader .loaderimg {
    width: 50%;
    margin: auto;
}
/* .loader img{
   
} */


.divDepens{
    position: fixed;
    top: 47px;
    left: 37px;
    width: 200px;
    height: auto;
    min-height: 224px;
    
    z-index: 888888;
    background: rgb(90 38 229 / 64%);
    box-shadow: 0 0 15px rgb(255, 255, 255);
}